/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8D8741;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 0vw 4vw;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-left {
      margin-bottom: 10px;
    }
  
    .nav-link {
      margin: 5px 0;
    }
  }
  